#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: rgb(42, 39, 97);
  background: linear-gradient(
    180deg,
    rgba(42, 39, 97, 1) 0%,
    rgba(143, 143, 233, 1) 50%,
    rgba(108, 181, 196, 1) 100%
  );
}

#app .v-application--wrap {
  justify-content: center;
}

.hw-100 {
  height: 100% !important;
  width: 100% !important;
  min-width: auto !important;
}

.rounded-left {
  border-radius: 15px 0 0 15px !important;
}

.rounded-right {
  border-radius: 0 15px 15px 0 !important;
}